#page-header-wraper {
    font-family: "Open Sans", sans-serif;
    color: #fff;
    background-color: #173753;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

#mainimage {
    padding: 0px;
    margin: 0px;
    border: 0px;
    width: 100%;
    
}

#abountme {
    font-family: "Lobser", cursive;
    
}