body {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: "Open Sans", sans-serif; 
    background-color: beige;
}  

#navBar {
    font-family: "Open Sans", sans-serif;
    color: #fff;
    background-color: black;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

#mainimage {
    padding: 0px;
    margin: 0px;
    border: 0px;
    width: auto;
    height: auto;
    position: relative;
    text-align: center;
    color:black;
    font-family: "Lobser", cursive;
    font-size: 200%;
}

.centered {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

#aboutme {
    /* font-family: "Lobser", cursive; */
    height: 200%; 
    /* background-color: rgba(255,0,0,0.1); */
    /* padding: 0px;
    margin: 0px;
    border: 0px; */
    /* display: ; */
}

.card {
    height: 200%;
    width: auto;
    display: flex;
    float: none;
    margin: 0 auto;
}

h2 {
    font-family: "Lobser", cursive;
}

#email, #resume, #linkedin {
    width: 100px;
    height: 100px;
}

#hobbieCarousel {
    height: 500px;
}